.popup-bg{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
}
.popup-main{
    position: fixed;
    width: 800px;
    height: 500px;
    background-color: #fff;
    left:27%;
    top:22%
}
.main-content{
    width: 100%;
    height:100%;
    margin-left:290px;
    position: fixed;
}
.main-content h2{
    margin-top: 100px;
    font-family: 'Source Sans Pro','Lato', 'Arial', sans-serif;
    font-weight: lighter;
    font-size: 40px;
}
.mobile-num{
    margin-left: -50px;
    margin-top: 60px;
    font-family: 'Source Sans Pro','Lato', 'Arial', sans-serif;
    font-size: 20px;
    /*letter-spacing: 1px;*/
    word-spacing: 1px;
}
#num-input{
    margin-top: 40px;
    margin-left: 15px;
    padding-right: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #555;
}
#initials{
    margin-left: 20px;
    border: none;
}
.submit-but {
    margin-top: 100px;
    margin-left: 7px;
    /*padding-right: 90px;*/
    width: 12%;
    height: 45px;
    background-color: #e67e22;
    color: white;
}
.popup-main .icon-big {
    font-size: 120%;
    display:inline;
    /*margin-bottom: 10px;*/
    color: #e67e22;
}
